<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GTask</a>
  </div>
</nav>
<div class="container mt-4">
  <h3>Task's</h3>
  <hr>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="description">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-dark">Add</button>
      </div>
    </div>
  </form>
  <hr>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data de Criação</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody *ngFor="let tarefa of tarefas">
        <tr>
          <td>{{tarefa.id}}</td>
          <td>{{tarefa.description}}</td>
          <td>{{tarefa.createdDate}}</td>
          <td><div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-dark">Done</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<footer>
  ©GTask 2021. All Rights Reserved
</footer>
